<section id="faq" style="margin-top: 5em" class="container">

<img src="images/faq/1half_circle_1.png" style="left: 0; height: 36.5em; position: fixed; margin-top: -4em;">

<div class="container-fluid" style="margin-bottom: 5em;">

    <div class="row">

        <div class="col-md-6" class="col-padding">

            <h1 id="target5" data-i18n="dashboard.title"></h1>

            <p><span>&nbsp;</span></p>

            <p style="font-size: 16px; text-align: justify;" data-i18n="dashboard.IntroText1"></p>

            <p style="font-size: 16px; text-align: justify; margin-bottom: 2em;" data-i18n="dashboard.IntroText2"></p>


        </div>

    <div class="col-md-6" class="col-padding">

      <img src="images/faq/iPad_Stand.png" style="margin: 10px auto; display: block; width: 100%;">

        </div>

    </div>

</div>
</section>