<header class="row">
    <div class="container">
        <h1 class="pull-left main-header">
            Forgotten Password:
        </h1>
    </div>
</header>
<section id="forgotten-password" class="container">
    <alert-box></alert-box>
    <form class="form-horizontal" class="col-md-12">
        <div class="form-group">
            <label for="email" class="control-label col-md-4">Please enter your email address</label>
            <div class="col-md-6" validate-data="email" rules="['required','email']" displayName="Email" groupName="ForgottenPassword">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary pull-right" data-ng-click="requestPasswordReset()">Request Password Reset</button>
            </div>
        </div>
    </form>
</section>